{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock title %}
{% block content %}
  {% load static %}
  <div class="container py-5">
    <center>
      <h3>Привет, я автор</h3>
    </center>
    <p>
      Меня зовут: Шахбанов Гаджи Рамазанович
      Мой возраст: 28 лет
      Образование: Высшее химическое
      В общем и целом, немного о себе.
      Родом я из высокогорного Дагестана. Рос и жил тут до 11 класса, затем поступил на химфак ЮФУ в городе Ростов - на - Дону и переехал на время. Учился тут 5 лет и по окончании устроился на работу во ФБУЗ "ЦГиЭ в РД"(это уструктура санэпид службы, тоже самое, что и роспотребнадзор только здесь не только врачи, а еще и лаборатория.) Работаю химиком, вот уже 5 лет. Зарплата хорошая, но я перегорел от работы в лаборатории, хочеться дистанционно из любой точки мира, вот и решил освоить Python. Курс очень тяжело дается, не знаю, как я добрался до конца 4 спринта, а хотя знаю. Мне очень помогают сокурсники, видит Бог, я им благодарен, если не они, тогда точно не дошел бы до этой части курса. Ну короче, работаю, учусь, спортом занимаюсь. Стараюсь как то в жизни себя найти. Ну как то так.
    </p>
    <center>
      <article class="col-12 col-md-5">
        <h3>А это собственно мой домашний тигр</h3>
      </article>
      <img src="{% static 'img/sobaka.jpg' %}" alt="УПС">
      <img src="{% static 'img/koshka.jpg' %}" alt="УПС">
      <img src="{% static 'img/supersobaka.jpg' %}" alt="УПС">
    </center>
  </div>
{% endblock content %}
