{% extends 'base.html' %}
{% block title %}Подписки{% endblock title %}
{% block content %}
  <div class="container py-5">
    {% include "posts/includes/switcher.html" %}
      <h1>Подписки</h1>
    {% for post in page_obj %}
      {% include "posts/includes/publication.html" with follow=True %}
      {% include "posts/includes/thumbnail.html" %}
      {% include "posts/includes/group_slug.html" %}
      {% if not forloop.last %}<hr>{% endif %}
    {% endfor %}
    <div class="d-flex justify-content-center">
      {% include "posts/includes/paginator.html" %}
    </div>
  </div>
{% endblock %}